---
---

@import "{{ site.theme }}";

div.comments {
  padding: 5 0;
  width: 640px;
  margin: auto;
}

@media print, screen and (max-width: 640px) {
  div.comments {
    width: auto;
    margin: auto;
  }
}
