---
---

@import "{{ site.theme }}";

code.highlighter-rouge {
  padding: 0px 3px 0px 3px;
  margin: 0;
  background-color: dimgrey;
}

code.language-cmd {
  font-family: 'Courier New'
}

div.comments {
  padding: 5 0;
  width: 640px;
  margin: auto;
}

@media print, screen and (max-width: 640px) {
  div.comments {
    width: auto;
    margin: auto;
  }
}
