<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </header>

    <div id="banner">
      <a href="{{ site.github.repository_url }}"><span id="logo"></span></a>
      <a href="{{ site.url }}" class="button fork"><strong>INDEX</strong></a>
    </div>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        <article>
          <time>{{ page.date | date: "%Y-%m-%d" }}</time>
          <h1>{{ page.title }}</h1>
          {{ content }}
        </article>
      </section>
      <footer>
        <p>Committed by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        <p><small>Hosted on GitHub Pages <br>&mdash;Theme by <a href="https://twitter.com/michigangraham" target="_blank">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% include script.html %}
  </body>
</html>
